/src/main/resources/dbpedia/rawFiles/
/src/main/resources/dbpedia/tables/
/src/main/resources/dbpedia/Actor/
/src/main/resources/dbpedia/City/
/src/main/resources/dbpedia/Person/
/src/main/resources/dbpedia/anchors/
/src/main/resources/dbpedia/input/
/target/
